# Ignore everything by default
*

# Allow backend folder AND its contents
!backend/
!backend/**

# Ignore inside backend (เฉพาะที่ไม่ควรขึ้น)
backend/node_modules/
backend/dist/
backend/.env
backend/*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
