go 1.22

use (
	./pkg
	./services/address-svc
	./services/bff-svc
	./services/cart-svc
	./services/catalog-svc
	./services/checkout-svc
	./services/coins-svc
	./services/compliance-svc
	./services/coupon-svc
	./services/creator-svc
	./services/merchant-ops-svc
	./services/dispatch-svc
	./services/account-svc
	./services/feed-svc
	./services/food-svc
	./services/foundation-svc
	./services/inventory-svc
	./services/locale-svc
	./services/notification-svc
	./services/order-svc
	./services/payment-svc
	./services/policy-svc
	./services/promotions-svc
	./services/readmodel-svc
	./services/rec-svc
	./services/recsys-svc
	./services/reviews-svc
	./services/search-svc
	./services/settings-svc
	./services/shipping-svc
	./services/sre-svc
	./services/transcode-worker
	./services/trust-svc
	./services/video-svc
	./services/wallet-svc
)
